/* TABLET */

@media screen and (min-width: 768px) {

  #hamburger {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .join-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    align-items: start;
  }

  #spotlight-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #spotlight-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero-text {
    max-width: 500px;
  }
}