@media (min-width: 768px) {

  #hamburger {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .navigation a {
    padding: 0.6rem 1.5rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .list .card {
    flex-wrap: nowrap;
  }

  .join-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    align-items: start;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}